export(calcAvgConnectivityMatrix)
export(calcConnectivityMatrices)
export(calcConnectivityMatrix)
export(doAnalysis.FractionRecruitingBySource)
export(extractSuccessfulIndivs)
export(plotConnectivityMatrices)
export(plotConnectivityMatrix)
export(plotFractionRecruitingBySource)
export(unzipDisMELSResults)
export(writeConnectivityMatrices.ToCSV)
export(writeIndividualConnectivity.ToCSV)
import(RColorBrewer)
import(graphics)
import(sqldf)
importFrom(wtsPlotUtils,createColorScale)
importFrom(wtsUtilities,computeStats)
importFrom(wtsUtilities,getCSV)
